body{
	background-color: rgb(206, 211, 214);
}


.airport-arcs {
  display: none;
  fill: none;
  stroke: #000;
}

.airport-cell {
  fill: none;
  pointer-events: all;
}

.airports circle {
  fill: transparent;
  stroke: transparent;
  pointer-events: none;
}

.airport:hover .airport-arcs {
  display: inline;
  stroke-dasharray: 5, 5;
  stroke: transparent;
}

svg:not(:hover) .airport-cell {
  
  stroke-opacity: .8;
}

.datamap .airport-arcs path{
    stroke: #000 ;
    stroke-width: 1px;
}

.datamap  path.airport-cell{
    stroke-width: 1px;
}

path.airport circle{
    stroke: transparent ;
 	fill:transparent;
}




rect.back{
	fill: rgb(206, 211, 214);
}




/* Circle Packing */



circle {
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

g.node circle{
	
  	stroke-width:0;
	fill:transparent;
	
}
g.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
  cursor: pointer;
}
g.leaf circle.inclusion {
	fill:#EB307D;
}
g.leaf circle.proyecto {
	fill:#32B375;
}
g.leaf circle.hacking{
	fill:#2277BA;
}


g.leaf circle.transparencia{
	fill:#31AADF;
}

g.leaf circle.ciudadania{
	fill:#EB423E;
}

g.leaf circle.redsocial{
	fill:#64318E;
}







text {
  font: 10px sans-serif;
}
