body{
	background-color: rgb(206, 211, 214);
}


.airport-arcs {
  display: none;
  fill: none;
  stroke: #000;
}

.airport-cell {
  fill: none;
  pointer-events: all;
}

.airports circle {
  fill: steelblue;
  stroke: #000;
  pointer-events: none;
}

.airport:hover .airport-arcs {
  display: inline;
  stroke: transparent;
}

svg:not(:hover) .airport-cell {
  stroke: transparent;
  stroke-opacity: .8;
}

.datamap .airport-arcs path{
    stroke: #000 ;
    stroke-width: 1px;
}

.datamap  path.airport-cell{
    stroke: transparent ;
    stroke-width: 1px;
}

circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}
